<div class="mt-4">
    <app-basket-summary 
        [isBasket]="false"
        [items]="(basket$ | async).items"
    ></app-basket-summary>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Delivery
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        Go to Payment <i class="fa fa-angle-right"></i>
    </button>
</div>
